@model WebApplication2.Models.Employee

@{
    ViewBag.Title = "Config";
}

@{
    var outputDir = ViewData["OutputDir"];
}

@{
    var sourceName = ViewData["LogSource"];
}

@{
    var logName = ViewData["LogName"];
}

@{
    var thumbnailSize = ViewData["ThumbnailSize"];
}

@{ 
    var handlers = ViewData["Handlers"];
}
<h2>Configurations</h2>

<div>
    OutputDir: @outputDir<br />
    SourceName: @sourceName<br />
    LogName: @logName<br />
    ThumbnailSize: @thumbnailSize<br />
    Handlers:@{ foreach (string handler in (handlers as IList<string>))
        {
            @Html.ActionLink(handler, "Question", "First") <br />
        }
    }<br />
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
