
@{
    ViewBag.Title = "Index";
}

@{ var a = ViewData["Status"];
}

@{
    var details = ViewData["Details"];
}

@{
    var photos_number = ViewData["PhotosNumber"];
}

@{ 
    string[] students = (details as string).Split('\n');

    string[] name = new string[0];
    string[] lastName = new string[0];
    string[] id = new string[0];
 }


<h1>Image Web</h1>

<h2>Status</h2>
<p>@a</p>

<h2>Number of photos</h2>
<p>@photos_number</p>

<h2>Student details</h2>
<p><table border="1" cellspacing="10">
    <tr><td>name</td><td>last name</td><td>id</td></tr>
 @{foreach (string s in students)
     {
       <tr>
           @{
               string[] studetails = s.Split(' ');
       <td>@studetails[0]</td>
       <td>@studetails[1]</td>
       <td>@studetails[2]</td>
               }
        </tr>
    }
    }
</table></p>
