@model Communication.LogEntry

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Message):
        @Html.EditorFor(x => x.Message)

        @Html.LabelFor(x => x.Time):
        @Html.EditorFor(x => x.Time)

        @Html.LabelFor(x => x.Type):
        @Html.EditorFor(x => x.Type)
    </div>
}

@{
    ViewBag.Title = "Logs";
}

@{
    //TODO Sheyikra Tavla vehide vekhou'
    var logs = ViewData["Logs"];
}

<h2>Logs</h2>

<div>

</div>
